@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$primary-color: #FDD000;

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.App {
    background: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50px;
    // background-position-x: -150px;
    height: 100vh;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
}

//Header

.Header {
    background: white;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 50px 0px;
    }
}

.logo {
    img {
        width: 165px;
        height: 50px;
    }
}

.navigation {
    align-items: flex-end;
    display: flex;

    a {
        text-decoration: none;
        position: relative;
        letter-spacing: 0.56px;
        color: #3D3D3D;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 500;
        cursor: pointer;

        &:first-child{
            margin-right: 70px;
        }
        &:hover:before {
            content: "";
            position: absolute;
            bottom: -15px;
            background: $primary-color;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            left:calc(50% - 8px);
        }
    }
}

//Home

.Home {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .home-wrapper {
        max-width: 615px;
        margin: 0 32px;
    }
    .home-heading {
        margin-bottom: 44px;

        h1 {
            color: $primary-color;
            font-size: 64px;
            text-align: right;
            text-transform: uppercase;
            letter-spacing: 3.5px;
        }
    }
    .home-text {
        p {
            font-weight: 300;
            font-size: 30px;
            text-align: right;
            letter-spacing: 0.6px;
            color: #DFDFDF;
        }
    }
}

//About Us

.About-us {
    background: white;
    padding-top: 100px;
    height: calc(100vh - 154px);
    .container {
        max-width: 1336px;

        h2 {
            font-size: 34px;
            margin-bottom: 78px;
        }

        p {
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 50px;
            letter-spacing: 0.4px;
            color: #3D3D3D;
        }
    }
}

//Calendar

.Calendar {
    height: calc(100vh - 154px);
    width: 700px;
    background: #272829;
    display: flex;
    align-items: center;
}

//react-calendar styles

.react-calendar {
    width: 100%;
    max-width: 467px;
    margin: 0 auto;
}

.react-calendar__navigation {
    max-width: 420px;
    margin: 0 auto;
}
.react-calendar__navigation__arrow {
    font-size: 28px;
    color: #DFDFDF;
    opacity: 0.6;
}
.react-calendar__navigation__arrow, 
.react-calendar__navigation__label,
.react-calendar__tile {
    background: none;
    color: white;
    border: none;
}
.react-calendar__month-view__weekdays__weekday {
    color: white;
    text-align: center;
    abbr[title] {
        text-decoration: none;
    }
}
.react-calendar__month-view > div > div {
    display: flex;
    flex-direction: column-reverse;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #DFDFDF;
    opacity: 0.6;
}
.react-calendar__tile--active {
    position: relative;
    color: $primary-color !important;
    outline: none;

    &:before {
        content: "";
        position: absolute;
        bottom: 5px;
        background: #FDD000;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        left: 47%;
    }
}
.react-calendar__tile--now {
    background: $primary-color !important;
    color: black !important;
}
.react-calendar__navigation {
    margin-bottom: 30px;
}
.react-calendar__month-view__days {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color:  rgba(255, 255, 255, 0.43);
        width: 90%;
        height: 1px;
        top: 0;
        left: 5%;
    }

}
.react-calendar__navigation__label__labelText {
    text-transform: uppercase;
}
.react-calendar__tile {
    height: 51px;
    padding: 0;
}
.react-calendar__month-view__weekdays {
    position: relative;
    padding: 18px 0;

    &::before {
        content: '';
        position: absolute;
        background-color:  rgba(255, 255, 255, 0.43);
        width: 90%;
        height: 1px;
        top: 0;
        left: 5%;
    }
    &::after {
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, 0.43);
        width: 90%;
        height: 1px;
        bottom: 0;
        left: 5%;
    }
}

// Form styles

.calendar-input {
    background: rgba(39, 40, 41, 0.85);
    position: absolute;
    width: 100vw;
    height: calc(100vh - 154px);
    z-index: 5;

    form {
        position: absolute;
        display: flex;
        padding: 25px;
        background: white;
        top: 50%;
        left: 35%;

        .cross {
            background-color: $primary-color;
            position: absolute;
            top: 0;
            right: 0;
            width: 28px;
            height: 28px;
            text-align: center;
            cursor: pointer;
        }

        .month-input {
            margin-right: 20px;
        }

        .day-input, .month-input {
            display: flex;
            flex-direction: column;

            label {
                color: #A2A2A2;
                margin-bottom: 10px;
                font-size: 20px;
            }

            input {
                border-color: $primary-color;
                outline: none;
                border-style: solid;
                width: 220px;
                height: 54px;
                padding-left: 20px;
                font-size: 22px;
            }
        }
    }
}


@media (max-width: 1720px) {
    .container {
        margin: 0 20px;
    }
}
@media (max-width: 1120px) {
    .Calendar {
        padding: 0 20px;
    }
    .react-calendar__navigation {
        width: 90%;
    }
    .Home .home-heading h1 {
        font-size: 54px;
    }
}
@media (max-width: 768px) {
    .Calendar {
        min-width: 300px;
    }
    .navigation a {
        font-size: 25px;
    }
    .Home .home-heading h1 {
        font-size: 40px;
    }
    .Home .home-text p {
        font-size: 20px;
    }
    .About-us .container h2 {
        font-size: 24px;
    }
}
@media (max-width: 563px) {
    .Calendar {
        min-width: unset;
        padding: 0 5px;
    }
    .react-calendar__tile {
        height: 40px;
    }
    .container {
        margin: 0 10px;
    }

    .navigation a {
        font-size: 15px;
        white-space: nowrap;

        &:first-child {
            margin-right: 30px;
        }
    }
    .Header .container {
        min-height: 154px;
    }
    .logo  {
        display: flex;
        align-items: flex-end;
        margin-right: 10px;

        img {
        width: 105px;
        height: 31px;
        }
    }
    .Home .home-heading h1 {
        font-size: 20px;
    }
    .Home .home-text p {
        font-size: 14px;
    }
    .About-us .container h2 {
        font-size: 22px;
        margin-bottom: 40px;
    }
    .About-us .container p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .Home .home-wrapper {
        margin: 0 15px;
    }

}
@media (max-width: 375px) {
    .react-calendar__tile {
        height: 30px;
    }
}